@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
}
.cabecalho{
    background-image: url(images/desktop/image-header.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    gap: 6%;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}
.navegacao{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.menu img{
    width: 20%;
}
.navegacao a{
    padding: 20px;
    color: white;
}
.navegacao button{
    padding: 20px;
    border: none;
    border-radius: 40px;
    font-size: 18px;
}
.navegacao button a{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: rgb(37, 46, 63);
}
.navegacao button:hover{
    background-color: rgb(111, 207, 255);
}
.navegacao button a:hover{
    color: white;
}

.titulo-cabecalho{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
}
.titulo-cabecalho h1{
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}
.flecha-cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
}
.flecha-cabecalho img{
    width: 2%;
}

/*Corpo*/
.corpo{
    display: flex;
    flex-direction: column;
}

/*Corpo - ovo*/
.ovo{
    width: 100%;
    display: flex;
}
.ovo .texto-ovo, .ovo .imagem-ovo{
    width: 50%;
}
.texto-ovo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10%;
}
.texto-ovo h2{
    color: rgb(37, 46, 63);
    font-family: 'Fraunces', serif;
    font-size: 3rem;
}
.texto-ovo p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color:hsl(232, 10%, 55%);
}
.texto-ovo a{
    font-family: 'Fraunces', serif;
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: rgb(37, 46, 63);
    text-transform: uppercase;
    font-weight: 900;
}

.texto-ovo a::before {
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 2px;
    width: 140px;
    height: 5px;
    background-color: yellow;
    opacity: 0.7;
    border-radius: 10px;
}
.imagem-ovo img{
    width: 100%;
    height: 100%;
}

/*Corpo - Copo*/
#copo::before {
    background-color: orange;
}

/*Corpo - Sereja e laranja*/
.frutas .texto-cereja, .frutas .texto-laranja{
    width: 50%;
}
/*Parte da cereja*/
.texto-cereja{
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding: 6% 15%;
    text-align: center;
    font-family: 'Fraunces', serif;
    color: rgb(37, 46, 63);
}
.texto h2{
    font-size: 25px;
}
.texto p{
    font-size: 14px;
    line-height: 25px;
}

.texto-laranja{
    background-image: url(images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}

/*Relatos*/
.relato{
    height: 680px;
    flex-direction: column;
    justify-content: center;
}
.relato-titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 8% 0;
}
.relato-titulo h2{
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(210, 4%, 67%);
}
.pessoas-relato{
    display: flex;
    flex-direction: row;
}
.relato-individual{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.relato-individual img{
    width: 50%;
    border-radius: 100%;
}
.relato-individual p{
    font-size: 18px;    
}
.relato-individual .texto-relato{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(213, 9%, 39%);
    line-height: 30px;
}
.relato-individual .texto-nome-cargo{
    line-height: 25px;
}
.relato-individual .nome{
    font-weight: 900;
    color: rgb(37, 46, 63);
}
.relato-individual .cargo{
    color: hsl(232, 10%, 55%);
}
.relato-individual .texto-relato{
    padding: 10%;
}

/*Seção imagens*/
.secao-imagens img{
    width: 100%;
    height: 100%;
}

/*Rodape*/
.rodape{
    background-color: hsl(168, 34%, 41%);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 50%;
}
.rodape .logo-rodape img{
    width: 150px;
}
.rodape .link-rodape{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.rodape .link-rodape a{
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
}
.rodape .link-rodape a:hover{
    color: white;
}
.rodape .icones img{
    margin: 0 10px;
}
.rodape .icones img:hover{
    background-color: white;
    border-radius: 5px;
}

/*Checkbox - menu*/
label{
    display: none;
}
#check{
    display: none;
    z-index: 3;
}
/*Deixando o menu responsivo*/
@media (max-width: 960px) {
    .menu .navegacao{
        display: none;
    }
    .menu img{
        width: 30%;
    }
    label{
        display: inline;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
        color: #fff;
    }
    #check:checked ~ header .navegacao {
        z-index: 2;
        margin-top: 100px;
        /*position fixed, deixa os itens do menu fixos, na hora do menu ser ativado*/
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    #check:checked ~ header .navegacao a{
        color: hsl(213, 9%, 39%);
    }
    .navegacao button{
        background-color: yellow;
    }
    .titulo-cabecalho{
        margin-bottom: 4%;
    }
    .flecha-cabecalho img{
        width: auto;
    }
}
@media (max-width: 540px){
    .menu img{
        width: 40%;
    }

    /*Corpo*/
    /*ovo*/
    .ovo{
        flex-direction: column-reverse;
        text-align: center;
    }
    .ovo .texto-ovo, .ovo .imagem-ovo{
        width: 100%;
    }
    .copo{
        flex-direction: column;
    }

    /*Frutas*/
    .frutas{
        flex-direction: column;
    }
    .texto-cereja{
        background-image: url(images/mobile/image-graphic-design.jpg);
    }
    .frutas .texto-cereja, .frutas .texto-laranja{
        width: 100%;
    }
    .texto{
        gap: 20px;
        padding: 15%;
        font-family: 'Fraunces', serif;
        color: rgb(37, 46, 63);
    }

    /*Relatos*/
    .relato{
        height: 100%;
        flex-direction: column;
        padding: 10%;
    }
    .pessoas-relato{
        flex-direction: column;
    }
    .relato-individual{
        padding: 10% 0;
    }

    /*Imagens*/
    .secao-imagens{
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /*Rodape*/
    .rodape{
        flex-direction: column;
    }
}
